BODY {
  background-color: #FFFFFF;
  margin: 0pt 0pt 0pt 0pt;
  border: 0pt 0pt 0pt 0pt;
  padding:0pt 0pt 0pt 0pt;
}

BODY, P, DIV, SPAN, TD, LI {
  font: 10pt Arial, Helvetica, serif;
  color: #000000;
}

A {
  color: #6B81B8;
  text-decoration: none;
}

A:hover {
  color: #6B81B8;
  text-decoration: underline;
}

TABLE {
  margin: 0pt;
  border: 0pt;
  padding: 0pt;
  spacing: 0pt;
}

.border {
  background-color: #B2B2B2;
}

.title {
  font: 36pt Arial, Helvetica, SansSerif;
  /*font-weight: bold;*/
  color: #FFFFFF;
  line-height: 100%;
  /*word-spacing: -0.1em;*/
}

.subtitle {
  font: 11pt Arial, Helvetica, serif;
  font-style: italic;
  color: #000000;
  text-align: right;
}

.menuitem {
  background-color: #929292;
  padding: 2px;
  vertical-align: middle;
}

#menu A {
  color: #FFFFFF;
  text-decoration: none;
}

#menu A:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.contentTable {
  border-right: 1px dashed #929292;
  width: 600px;
}

.content {
  background-color: #FFFFFF;
  padding: 2px;
  vertical-align: top;
}

.heading {
  font: 16pt Arial, Helvetica, serif;
  color: #000000;
  font-weight: bold;
}

.subheading {
  font: 11pt Arial, Helvetica, serif;
  color: #000000;
  font-weight: bold;
}

.copyright {
  background-color: #FFFFFF;
  padding: 2px;
  text-align: right;
  vertical-align: bottom;
  font: 8pt Arial, Helvetica, serif;
  font-style: italic;
}

.newstable {  
  border-top: 1px solid #929292;
  width: 100%;
}

.newsdate {
  color: #929292;
  font: 10pt Arial, Helvetica, serif;
  font-style: italic;  
  text-align: right;
}

.newsheading {
  color: #000000;
  font: 10pt Arial, Helvetica, serif;
  font-weight: bold;
}

.newstext {
  padding-left: 10px;
}

/************************************************/
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #003366;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
  width: 98%;
  /*overflow: auto; */
  /* overflow: scroll -moz-scrollbars-horizontal;
  overflow-x: auto; */
}

.codescroll {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #003366;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
  width: 98%;
  overflow: auto;
  overflow: scroll -moz-scrollbars-horizontal;
  overflow-x: auto;
}

.command {
  font-weight: bold;
  color: #aa0000;
  background-color: inherit;
}

.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}

.xml-keyword {
  font-weight: bold;
}

.xml-tag {
  color: #0000aa;
  background-color: inherit;
}

.xml-quote {
  color: #00aa00;
  background-color: inherit;
}